/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    font-family: Verdana
}

body {
    font-size: 10pt;
}

.body-content {
    position: relative;
    top: 15%;
}

nav#header {
    background-color: #1E1264;
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
}

.menublock {
    width: 49.7%;
    margin: 0%;
    min-width: 320px;
    display: inline-block;
}

    .menublock a {
        color: white;
        font-size: 1.4em;
        text-decoration:none;
    }

.logo {
    max-width: 320px;
    width: 100%;
}

p.menu {
    text-align: right;
}

    p.menu a {
        color: white;
        font-size: 1.1em;
        display: inline-block;
        margin-left: 20px;
        text-decoration: none;
    }

nav#footer {
    background-color: #1E1264;
    padding: 10px 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

p.copyright {
    text-align: left;
    color: white;
}

